// Compass Imports:
@import "compass";
@import "compass/css3";
@import "compass/css3/font-face";

html, body {
  background: #FFFFFF;
}

.main {
    width: 100%;
    height: 100%;
}

.container {
    margin: 2em auto;
}

.form-group {
    display: inline-block;
    width: 100%;
}
